.goods__item {
  display: block;
  max-width: 350px;
  @media (max-width: 1440px) and (min-width: 500px) {
    max-width: 373px;
  }
  @media (max-width: 499px) {
    width: 140px;
  }
  .item__wrapper {
    .item__img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F8F8F8;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 75px 113px 40px 113px;
      @media (max-width: 499px) {
        padding: 60px 15px 6px 15px;
      }
      img {
        max-height: 255px;
        transition: all ease-in-out .2s;
        @media (max-width: 499px) {
          max-width: 109px;
          max-height: 134px;
        }
      }
      .hit-sticker {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 1440px) and (min-width: 500px) {
          left: 18px;
        }
        @media (max-width: 499px) {
          top: 10px;
          left: 10px;
        }
        .hit__icon {
          width: 30px;
          height: 30px;
          background-color: $greenColor;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          @media (max-width: 499px) {
            width: 20px;
            height: 20px;
          }
          img {
            @media (max-width: 499px) {
              width: 14px;
              height: 14px;
            }
          }
        }
        .hit__text {
          font-size: 16px;
          line-height: 20px;
          color: $mainColor;
          @media (max-width: 499px) {
            font-size: 10px;
            line-height: 14px;
          }
        }
      }
      .new-sticker {
        position: absolute;
        top: 60px;
        left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 1440px) and (min-width: 500px) {
          left: 18px;
        }
        @media (max-width: 499px) {
          top: 35px;
          left: 10px;
        }
        .new__icon {
          width: 30px;
          height: 30px;
          background-color: #9EB4AF;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          @media (max-width: 499px) {
            width: 20px;
            height: 20px;
          }
          img {
            @media (max-width: 499px) {
              width: 14px;
              height: 14px;
            }
          }
        }
        .new__text {
          font-size: 16px;
          line-height: 20px;
          color: $mainColor;
          @media (max-width: 499px) {
            font-size: 10px;
            line-height: 14px;
          }
        }
      }
    }
    .item__content {
      @media (max-width: 1440px) and (min-width: 500px) {
        width: 301px;
      }
      .item__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: $mainColor;
        margin-bottom: 10px;
        @media (max-width: 1440px) {
          font-size: 18px;
          line-height: 30px;
        }
        @media (max-width: 499px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .item__option {
        font-size: 18px;
        color: $mainColor;
        opacity: 0.6;
        margin-bottom: 5px;
        @media (max-width: 1440px) {
          font-size: 16px;
          line-height: 20px;
        }
        @media (max-width: 499px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
  &:hover {
    img {
      transform: scale(0.98);
    }
  }
}